.three-pie-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.three-pie {
  width: 100%;
  height: 100%;
}
.three-pie-slot {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
